html, body {
    height: 100%;
}

.min-100 {
    min-height: 100%;
}

.wbdv-nav-col {
    /*background-color: #292b2c;*/
    background-color: white;
}

input.transparent-input {
    /*background-color:#292b2c !important;*/
    outline: 0;
    border-width: 0 0 1px;
    border-color: #343a40;
    /*-webkit-box-shadow: 0 2px 10px 1px rgba(0, 0, 0, 0.5);*/
    /*box-shadow: 0 2px 10px 1px rgba(0, 0, 0, 0.5);*/
}

.wbdv-module-item-add-btn {
    outline: 0;
    border-width: 0 0 1px;
    border-color: #343a40;
}

.wbdv-widget-header, .wbdv-module-item-title {
    display: inline-block;
}